<% @breadcrumbs = [link_to('Content Editor', admin_content_index_path(:pages)), 'Edit Page'] %>

<div class='row'>

  <%= form_for [:admin, @page], :html => { :class => '' } do |f| %>

    <%= render :partial => 'page_form', :locals => {
            :f => f,
            :form_legend => "Edit page",
            :submit_label => "Update Page"
    } %>

  <% end %>

</div>