<%= breadcrumbs :controller => { :name => 'Content', :link => admin_content_index_path(:pages) } %>

<div class='row'>

  <%= form_for @content, :url => admin_pages_path(@content), :html => { :class => '' } do |f| %>

    <%= render :partial => 'page_form', :locals => {
            :f => f,
            :form_legend => "Create new page",
            :submit_label => "Create Page"
    } %>

  <% end %>

</div>
