<% @breadcrumbs = [link_to('Posts Editor', { :controller => 'admin/posts', :action => 'index' }), 'Import from Wordpress XML Export'] %>

<%= form_tag({:action => 'create'}, { :multipart => true, :class => 'form-horizontal' }) do %>

    <fieldset>
      <legend>Wordpress XML Importer</legend>

      <div class='control-group'>
        <label class='control-label'>XML File</label>
        <div class='controls'><%= file_field_tag( "xml_file" ) %></div>
      </div>

      <div class='form-actions'>
        <%= submit_tag "Import XML", :class => 'btn btn-primary' %>
        <%= link_to "Cancel", { :controller => 'admin/posts', :action => 'index' }, :class => 'btn' %>
      </div>

    </fieldset>

<% end %>