<% @breadcrumbs = [link_to('Site Tools', {:action => 'index'}), 'Software Update'] %>

<div class='row'>
  <div class='span12'>

    <% if @localVersion != @remoteVersion %>

      <div class='alert alert-info'>
        <p>It appears there is an update! </p>
        <p>Local & Latest version: <strong><%= @localVersion %></strong></p>
      </div>

      <% if @updateLog.present? %>
        <pre><%= @updateLog %></pre>
      <% else %>
        <pre>You're ahead of master (editor?)</pre>
      <% end %>

    <% else %>

      <div class='alert alert-success'>
        <p><strong>It appears everything is up to date!</strong></p>
        <p>Local version: <%= @localVersion %></p>
        <p>Latest version: <%= @remoteVersion %></p>
      </div>

    <% end %>

  </div>
</div>