<a href='#category-modal' class='btn pull-right btn-mini category-modal' title='Add new category' data-toggle='modal'><i class="icon-plus muted"></i></a>

<div id='category-modal' class='modal hide fade in'>
  <div class='modal-header'>
    <a class="close" data-dismiss='modal'>&times;</a>
    <h3>New Category</h3>
  </div>
  <div class='modal-body'>
    <h4>Category Modal</h4>
    <p>Stuff goes here</p>
  </div>
  <div class='modal-footer'>
    <a href="#" class='btn btn-success'>Do Something</a>
    <a href="#" class='btn' data-dismiss='modal'>Close</a>
  </div>
</div>