<% Taxonomy.categories.each do |category| %>
  <label class='checkbox'><%= check_box_tag "taxonomies[]", "#{category.id}", @content.has_taxonomy?(category.id) %><%= category.name %></label>
<% end %>
