<% Taxonomy.categories.each do |category| %>
  <% if @content.present? %>
    <label class='checkbox'><%= check_box_tag "taxonomies[]", "#{category.id}", @content.has_taxonomy?(category.id) %><%= category.name %></label>
  <% else %>
    <label class='checkbox'><%= check_box_tag "taxonomies[]", "#{category.id}", false %><%= category.name %></label>
  <% end %>
<% end %>
