<%= form_for [:admin, @taxonomy], :html => { :class => '' } do |f| %>

  <%= breadcrumbs :right_items => [
          submit_tag("Update Taxonomy", :class => 'btn btn-primary btn-mini'),
          link_to("Cancel", admin_taxonomies_path, :class => 'btn btn-mini')
  ] %>

  <div class='row'>
    <%= render :partial => 'form', :locals => { :f => f } %>
  </div>

<% end %>
