
.pmOpacity (@level: 0.5) {
    @levelFloat: @level * 100;
    filter:~`'alpha(opacity=@{levelFloat})'`;
    -moz-opacity: @level;
    -khtml-opacity: @level;
    opacity: @level;
}

.pmLinearGradient(@stop1:0, @color1:#ccc, @stop2:50%, @color2:#ddd, @stop3:100%, @color3:#ccc){
    background-color:@color2;
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(@stop1, @color1), color-stop(@stop2, @color2), color-stop(@stop3, @color3));
    background-image:-moz-linear-gradient(center top, @color1 @stop1, @color2 @stop2, @color3 @stop3);
    background-image:-ms-linear-gradient(center top, @color1 @stop1, @color2 @stop2, @color3 @stop3);
    background-image:-o-linear-gradient(center top, @color1 @stop1, @color2 @stop2, @color3 @stop3);
    background-image:linear-gradient(center top, @color1 @stop1, @color2 @stop2, @color3 @stop3);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=%d,endColorstr=%d)", @color1, @color3));
}

.center {
    text-align: center !important;
}

body {
    background-color: #f5f6f7;

    .container[role='header'] {

        &.fixed {
          position: fixed;
          z-index: 100;
        }

        form.site-search {
          position: relative;
          margin-top: 10px;
          margin-right: 20px;
          div.controls {
            margin-left: 0;
          }
        }

        position: relative;
        height: 120px;

        .pmLinearGradient(0, #e3eaee, 100%, #95b2d6, 100%, #95b2d6);
        border-radius: 0 0 4px 4px;
        border-left: 1px solid #b8b8b8;
        border-right: 1px solid #b8b8b8;
        margin-bottom: 20px;

        .header-image {
            img {
                margin: 10px 0 0 14px;
            }
        }

        .navbar {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            margin-bottom: 0;
            border-top: 1px solid #a8a8a8;
            .navbar-inner {
                &.main {
                    height: 30px;
                    min-height: 30px;
                    border-top: 1px solid #d8d8d8;
                    border-radius: 0 0 4px 4px;

                    .pmLinearGradient(0, #f2f2f2, 100%, #dfdfdf, 100%, #dfdfdf);
                    box-shadow: 0 1px 0px rgba(0,0,0,0.25), 0 1px 0 rgba(0,0,0,0.05) inset;

                    padding-left: 5px;
                    padding-right: 5px;

                    ul.nav li a {
                        padding: 5px 10px 4px;
                        &:hover {
                            color: #000;
                        }
                        b {
                            border-bottom-color: #000;
                            border-top-color: #000;
                        }
                    }
                    ul.nav li.open {
                        a {
                            color: #000;
                        }
                    }
                    ul.nav li.divider-vertical {
                        height: 29px;
                        background-color: #d8d8d8;
                        border-right: 1px solid #f2f2f2;
                    }
                    ul.nav li.divider-arrow {
                        width: 11px;
                        height: 30px;
                        background: url(/assets/divider-menubar.png) no-repeat;

                    }
                }
            }
        }
    }

}

body[role='admin'] {
    padding-top: 60px;
}

small {
    font-size: 75%;
}

.container[role='main'] {
    padding-bottom: 60px;
}

.bottombar .bottombar-inner {
    .pmLinearGradient(0, #ddd, 100%, #eee, 100%, #eee);
    min-height: 30px;
    background-repeat: repeat-x;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 1px 0 rgba(0,0,0,0.05) inset;

    li > a, a.brand {
        padding: 4px 10px 3px;
        color: #999;
        &:hover {
            color: #000;
        }
    }
    a.brand {
        float: right;
    }
}

span.highlight {
  background-color: yellow;
}

.breadcrumb {
  border: 1px solid #fff;
  background: #fff url(/assets/panel-background.png) repeat-x;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 1px 0 rgba(0,0,0,0.1) inset;
  overflow: auto;

  i {
    .pmOpacity;
  }
}

div.content-panel {
    border: 1px solid #fff;
    background: #fff url(/assets/panel-background.png) repeat-x;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 1px 0 rgba(0,0,0,0.1) inset;
    padding: 5px 10px;
    margin-bottom: 10px;
    overflow: auto;

    h3 {
        border-bottom: 1px solid #efefef;
        a {
            color: #000;
        }
    }

    a {
        color: #ad3cdd;
        &:hover {
            color: #ad3cdd;
        }
    }

    .alignright {
        float: right;
    }
    .alignleft {
        float: left;
    }

    div.readmore {
        margin: 5px 0;
    }

    div.caption {
        background-color: #f5f6f7;
        margin: 0px 5px;
        padding: 5px;
        border: 1px solid #dadada;

        div.caption-text {
            padding-top: 10px;
            text-align: center;
        }
    }

    // Changes to the navbar inside a content block
    // To do the date, user, comment stuff.
    div.navbar {
        overflow: hidden;
        margin-bottom: 0px;
        .navbar-inner {
            .pmLinearGradient(0, #fff, 100%, #fff, 100%, #fff);
            box-shadow: 0 0px 0px rgba(0,0,0,0.25), 0 0px 0 rgba(0,0,0,0.05) inset;
            padding: 0;
            min-height: 0;
            ul {
                width: 100%;
                li {
                    padding-right: 10px;
                    i {
                      .pmOpacity;
                      padding-right: 5px;
                    }
                    a {
                        padding: 2px;
                        text-shadow: none;
                        color: #ad3cdd;
                        &:hover {
                            color: #ad3cdd;
                            text-decoration: underline;
                        }
                    }
                    &.pull-right {
                        float: right;
                        padding-right: 0;
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}
