<div class='row'>
  <div class='span12'>
    Admin Dashboard
  </div>
</div>

<pre>
  <strong>@TODO for this page</strong>
  * Start building some kind of metric system and display it here.
  * Implement a system that pulls from my git hub to show versioning

</pre>