
<div class='container' role="main">
  <div class='row'>
    <div class='span9'>

      <% @posts.each do |post| %>

        <div class='content-panel'>
          <h3><%= post.title %></h3>

          <%= simple_format(post.content) %>
        </div>
          
      <% end %>
      
    <div class='content-panel'>
          <p>Content Panel</p>
          <p>Content Panel</p>
          <p>Content Panel</p>
          <p>Content Panel</p>
        </div>

    </div>
    <div class='span3'>



    </div>
  </div>
</div>

