
<div class='container' role="main">
  <div class='row'>
    <div class='span9'>

      <% @posts.each do |post| %>

        <div class='content-panel'>
          <h3><%= link_to post.title, '/' + post.seo_url + '/' %></h3>
          <% content = post.content.split(/<!--more-->/) %>
          <%= simple_format(content[0]) %>
          <div class='readmore'><%= link_to 'Read more...', '/' + post.seo_url + '/' %></div>
        </div>
          
      <% end %>
      
    </div>

    <div class='span3'>

    </div>

  </div>
</div>

