<div class='container' role="main" xmlns="http://www.w3.org/1999/html">

  <%= render_breadcrumbs :category => @category, :tag => @tag, :filter => @query %>

  <div class='row'>
    <div class='span9'>

      <% @posts.each do |post| %>
        <%= post.render :tease => true %>
      <% end %>

      <%= render :partial => 'content/next_previous_pagination', :locals => {
        number_of_pages:  @pagination_number_of_pages,
        current_page:     @pagination_current_page,
        filtered_count:   @filtered_post_count
      } %>

    </div>

    <div class='span3'>

    </div>

  </div>
</div>

