<% @breadcrumbs = [
        link_to('Home', { :action => 'index' }),
        link_to('Category', {}),
        @post.title] %>

<div class='container' role="main">
  <div class='row'>
    <div class='span9'>

      <div class='content-panel'>
        <h3><%= @post.title %></h3>
        <div class="navbar">
          <div class="navbar-inner">
            <ul class="nav">
              <li><a href="/"><i class="icon-calendar"></i><%= @post.go_live %></a></li>
              <li><a href="/"><i class="icon-user"></i><%= @post.user.display_name %></a></li>
              <li class='pull-right'><a href="/"><i class="icon-comment"></i>Comments</a></li>
            </ul>
          </div>
        </div>

        <% content = @post.content.gsub(/<!--more-->/,'') %>
        <%= simple_format(content) %>
        
      </div>

    </div>

    <div class='span3'>

    </div>

  </div>
</div>

