<div class='container' role="main">

<%= render_breadcrumbs :post => @content, :filter => @query %>

  <div class='row'>
    <div class='span9'>

      <%= @content.render %>

    </div>

    <div class='span3'>

    </div>

  </div>
</div>

