<% @breadcrumbs = [
        link_to('Home', { :action => 'index' }),
        link_to('Category', {}),
        @post.title] %>

<div class='container' role="main">
  <div class='row'>
    <div class='span9'>

      <div class='content-panel'>
        <h3><%= @post.title %></h3>
        <% @post.content.gsub!(/<!--more-->/,'') %>
        <%= simple_format(@post.content) %>
        
      </div>

    </div>

    <div class='span3'>

    </div>

  </div>
</div>

