<% md = Redcarpet::Markdown.new(Redcarpet::Render::XHTML, :autolink => true, :space_after_headers => true) %>

<div class='container' role="main">

<%= render_breadcrumbs :post => @post, :filter => @query %>

  <div class='row'>
    <div class='span9'>

      <%= @post.render %>

    </div>

    <div class='span3'>

    </div>

  </div>
</div>

