/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markdown .markItUpButton {
    background-image:url(/assets/markitup/icons.png);
}
.markdown .markItUpButton.headline {
    background-position: -560px 0px;
}
.markdown .markItUpButton.aboutbar {
    background-position: -650px 0px;
}
.markdown .markItUpButton.morebar {
    background-position: -200px 0px;
}
.markdown .markItUpButton.sectionhead {
    background-position: -583px 0px;
}
.markdown .markItUpButton.subbold {
    background-position: -607px 0px;
}
.markdown .markItUpButton.admincomment {
    background-position: -673px 0px;
}
.markdown .markItUpButton.bold {
    background-position: 0px 0px;
}
.markdown .markItUpButton.italic {
    background-position: -19px 0px;
}
.markdown .markItUpButton.strikethrough {
    background-position: -540px 0px;
}
.markdown .markItUpButton.bulletedlist{
    background-position: -39px 0px;
}
.markdown .markItUpButton.numericlist {
    background-position: -59px 0px;
}
.markdown .markItUpButton.externalimage {
    background-position: -179px 0px;
}
.markdown .markItUpButton.link {
    background-position: -159px 0px;
}
.markdown .markItUpButton.quotes {
    background-position: -694px 0px;
}
.markdown .markItUpButton.codeblock {
    background-position: -629px 0px;
}
.markdown .markItUpButton.preview {
    background-position: -715px 0px;
}