/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markdown .markItUpButton {
    background-image:url(/assets/markitup/icons.png);
}
.markdown .markItUpButton1 {
    background-position: -560px 0px;
}
.markdown .markItUpButton2 {
    background-position: -583px 0px;
}
.markdown .markItUpButton3 {
    background-position: -607px 0px;
}
.markdown .markItUpButton4 {
    background-position: 0px 0px;
}
.markdown .markItUpButton5 {
    background-position: -19px 0px;
}
.markdown .markItUpButton6 {
    background-position: -39px 0px;
}
.markdown .markItUpButton7 {
    background-position: -59px 0px;
}
.markdown .markItUpButton8 {
}
.markdown .markItUpButton9 {
}
.markdown .markItUpButton10 {
}
.markdown .markItUpButton11 {
}
.markdown .markItUpButton13 {
}
.markdown .markItUpButton14 {
}
.markdown .preview a {
	background-image:url(/assets/markitup/preview.png);
}