<% @breadcrumbs = [link_to('Tag Editor', {:action => 'index'}), 'Add New Tag'] %>

<div class='row'>
  <div class='span12'>

    <%= form_for [:admin, @tag], :html => { :class => 'form-horizontal' } do |f| %>

      <%= render :partial => 'form', :locals => {
              :f => f,
              :form_legend => "Create new tag",
              :submit_label => "Create tag"
      } %>

    <% end %>

  </div>
</div>