<% @breadcrumbs = [link_to('Content Editor', admin_content_index_path(:posts)), 'Edit Post'] %>

<div class='row'>

    <%= form_for [:admin, @post], :html => { :class => '' } do |f| %>

        <%= render :partial => 'post_form', :locals => {
                :f => f,
                :form_legend => "Edit post",
                :submit_label => "Update Post"
        } %>

    <% end %>

</div>