<% @breadcrumbs = [link_to('Content Editor', admin_content_index_path(:posts)), 'New Post'] %>

<div class='row'>

  <%= form_for @content, :url => admin_posts_path(@content), :html => { :class => '' } do |f| %>

    <%= render :partial => 'post_form', :locals => {
            :f => f,
            :form_legend => "Create new post",
            :submit_label => "Create Post"
    } %>

  <% end %>

</div>
