<% @breadcrumbs = [link_to('Posts Editor', {:action => 'index'}), 'Add New Post'] %>

<div class='row'>

    <%= form_for [:admin, @post], :html => { :class => '' } do |f| %>

        <%= render :partial => 'post_form', :locals => {
            :f => f,
            :form_legend => "Create new post",
            :submit_label => "Create Post"
        } %>
    
    <% end %>

</div>

<pre>
  <strong>@TODO for this page</strong>
  * Find a good editor.. CKEditor or some such..
  * Consider all the shit needed to create any kind of content and get it all on one form in an easy to use manner.. fun
</pre>
