<% @breadcrumbs = [link_to('Posts Editor', {:action => 'index'}), 'Add New Post'] %>

<div class='row'>
  <div class='span12'>

    <%= form_for [:admin, @post], :html => { :class => 'form-horizontal' } do |f| %>

        <%= render :partial => 'post_form', :locals => {
            :f => f,
            :form_legend => "Create new post",
            :submit_label => "Create Post"
        } %>
    
    <% end %>

  </div>
</div>