
body {
    background-color: #f5f6f7;
}

.bottombar .bottombar-inner {
    background-color: #eee;
    background-image: -moz-linear-gradient(center top, #ddd, #eee);
    background-repeat: repeat-x;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 1px 0 rgba(0,0,0,0.1) inset;
    
    li > a, a.brand {
        padding: 4px 10px 3px;
        color: #999;
        &:hover {
            color: #000;
        }
    }
    a.brand {
        float: right;
    }
}